<!doctype html>
<html>
<head>
<title>Barcode Generator</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon-precomposed.png') }}" />
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='apple-touch-icon-72x72-precomposed.png') }}" />
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='apple-touch-icon-114x114-precomposed.png') }}" />
<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='apple-touch-icon-144x144-precomposed.png') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
<body>
<div class=page>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  <h1>Barcode</h1>
  <form id="pdf" method="get" action="{{ url_for('form') }}" class=add-entry>
  	<dl>
		{%if scale is defined %}<input name="scale" type="hidden" value="{{scale}}" />{%endif%}
  		{%if codes is defined %}
  		<dt>Code<dd><select name="code">
  		{% for c in codes %}
  			{%if code is defined and c==code%}
		     <option selected>{{c}}</option>
  			{%else%}
		     <option>{{c}}</option>
		    {%endif%}
		{% endfor %}
		</select>
		{%elif code is defined %}<input name="code" type="hidden" value="{{code}}" />
		{%else%}
		<dt>Code<dd><input name="code" type ="text" value="{{code}}" >
  		{%endif%}
  		<dt>Value/Start
  		<dd><input name="value" type ="text" value="{{value}}" />
		<dt>Count
		<dd><input name="count" type ="text" value="{{count}}"/>
		<dd><input type="submit" name="action" value="Show"/>
		<dd><input type="submit" name="action" value="Generate PDF"/>
	 </dl>
  </form>
    {%if bcimage is defined %}<div class=image>
  <img src="{{bcimage}}"/>
        </div>
  {%endif%}
</div>
</head>
